.react-tabs__tab-list{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-bottom: 30px;
}
.react-tabs__tab{
    font-size: 20px;
}
.react-tabs__tab--selected{
    border: none;
    color: #BB8506;
    border-bottom: 5px solid #BB8506;
    background-color: transparent;
}