.swiper-pagination {
    position: relative !important;
    bottom: -10px !important; /* Adjust based on your design */
    text-align: center; 
    margin-bottom: 10px;
  }
.swiper-pagination-bullet {
	padding: 10px;
	border-radius: 50%;
	opacity: 1;
	background: rgba(0,0,0,0.5);
    bottom: -20px !important;
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: #EEFF25;
}